<!DOCTYPE html>
{% load static %}
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'story8.css' %}">
    <script src="{% static 'story8.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="icon" href="{% static 'logo.png' %}">
    <title>Story 8 - Jaja's Story</title>
</head>

<body>
    <div id="back">
        <h1><a href="/" style="text-decoration-color: #9671FC;">🔙</a></h1>
    </div>

    <div id="divInput">
        <input class="form-control" id="keyword" type="text" placeholder="Enter keyword">
    </div>

    <div class="container" id="tabel">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 5px;">No</th>
                    <th scope="col" width="50px">Cover</th>
                    <th scope="col" width="40px">Title</th>
                    <th scope="col" width="40px">Author</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <!-- <script type="text/javascript">
        $("#keyword").keyup(function() {
            var input_keyword = $("#keyword").val();
            // console.log(input_keyword);

            if (input_keyword.length) {
                $.ajax({
                url: 'https://www.googleapis.com/books/v1/volumes?q=' + input_keyword,
                success: function(data) {
                    var all_items = data.items;
                    // console.log(data);
                    $("#books_list").empty();
                    for (i=0; i<all_items.length; i++) {
                        var image = all_items[i].volumeInfo.imageLinks.smallThumbnail;
                        var title = all_items[i].volumeInfo.title;
                        var author = all_items[i].volumeInfo.authors;
                        // $("#books_list").append("<li>" + title + "<br><img src=" + image + "></li>");
                        $("#books_list").append("<li><img src=" + image + ">" + title + author + "</li>");
                    }
                }
            });
            }
            $("#books_list").empty();
        });
    </script> -->
</body>
</html>
