html {
    min-height: 100vh;
    margin: 0;
    overflow: auto;
}

body {
    background-color: #C5A8F9;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#opening {
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-weight: bolder;
    color: #F6FFAF;
    margin-top: 10%;
}

.story, a {
    text-align: center;
    font-family: 'Nerko One', cursive;
    color: #F6FFAF;
    margin-top: 40px;
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }