html {
    min-height: 100vh;
    margin: 0;
    overflow: auto;
    max-width: 100%;
    display: block;
}

body {
    background-color: #F6FFAF;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    display: block;
}

#back {
    margin-top: 75px;
    text-align: center;
}

#divInput {
    margin-top: 80px !important;
    margin: auto;
    text-align: center;
    max-width: 50%;
    font-family: 'Nerko One', cursive;
}

.table.table-bordered {
    margin-top: 35px ;
    text-align: center;
    background-color: #9671FC;
    font-family: 'Nerko One', cursive;
    table-layout: fixed;
}

tbody {
    background-color:  #C5A8F9;
    font-family: 'Nerko One', cursive;
    margin: 0;
    border: 2px black !important;
}