html {
    min-height: 100vh;
    margin: 0;
    overflow: auto;
    max-width: 100%;
    display: block;
}

body {
    background-color: #F6FFAF;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    display: block;
}

#back {
    margin-top: 75px;
    text-align: center;
}

.container-fluid {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.content {
    /* max-height: fit-content; */
    max-width: 100%;
    /* padding: 0;
    margin: 0; */
}

#accordionActivities, #accordionExperiences, #accordionAchievement, #accordionHappyPills {
    max-width: 100%;
    padding-right: 130px;
    padding-left: 130px;
    font-family: 'Nerko One', cursive;
    max-height: fit-content;
}

#accordionActivities h3, #accordionExperiences h3, #accordionAchievement h3, #accordionHappyPills h3 {
    background: #9671FC;
    color:  #F6FFAF;
    font-weight: bold;
}

#accordionActivities div, #accordionExperiences div, #accordionAchievement div, #accordionHappyPills div {
    background-color: #C5A8F9;
    font-family: 'Nerko One', cursive;
    display: none;
    overflow: hidden;
}

ul {
    padding: 0;
}

h3 button {
    background-color: transparent;
    border: none;
    outline: none;
} 