html {
    min-height: 100vh;
    margin: 0;
    overflow: auto;
}

body {
    background-color: #C5A8F9;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#opening, .ml2, .ml10 {
    text-align: center;
    font-family: 'Nerko One', cursive;
    font-weight: bolder;
    color: #F6FFAF;
    margin-top: 15px;
}

.ml10 {
    margin-bottom: 20px;
}

.story, a {
    text-align: center;
    font-family: 'Nerko One', cursive;
    color: #F6FFAF;
    margin-top: 20px;
}

/* ul.nav.navbar-nav.navbar-right {
    padding: 0;
} */
ul.nav.navbar-nav {
    align-items: left;
    margin-bottom: 0;
    margin-left: 90%;
}

#login, #signup, #username, #logout {
    max-width: fit-content;
    color: purple !important;
}

/* #user, #logout {
    text-align: center !important;
    font-family: 'Nerko One', cursive;
    font-weight: bold;
    line-height: 1em;
    color: #1C96FF;
    margin-top: 80px;
    margin-bottom: 0;
} */

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml10 {
    position: relative;
    font-weight: 900;
    margin-top: 30px !important;
}

.ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}