<!DOCTYPE html>
{% load static %}
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'story7.css' %}">
    <script src="{% static 'story7.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" href="{% static 'logo.png' %}">
    <title>Story 7 - Jaja's Story</title>
</head>

<body>
    <div>
        <h1 id="back"><a href="/" style="text-decoration-color: #9671FC;">🔙</a></h1>
    </div>

    <div class="container-fluid">
        <div id="accordionActivities">
            <h3>Activities🙋‍♀️
                <span style="float: right;">
                    <button class="up" style="font-size: 15px;"><i class="fas fa-chevron-up"></i></button>
                    <button class="down" style="font-size: 15px;"><i class="fas fa-chevron-down"></i></button>
                </span>
            </h3>
            <div class="content">
                <ul>
                    <li>Kuliah</li>
                    <li>Sambat</li>
                    <li>Jadi staf PSDM</li>
                    <li>Jadi sabinya PTI</li>
                    <li>Ngurus Wisgan 2021</li>
                    <li>Bersedih-sedih</li>
                    <li>Bersenang-senang</li>
                </ul>
            </div>
        </div>
    
        <div id="accordionExperiences">
            <h3>Experiences👩‍🔧
                <span style="float: right;">
                    <button class="up" style="font-size: 15px;"><i class="fas fa-chevron-up"></i></button>
                    <button class="down" style="font-size: 15px;"><i class="fas fa-chevron-down"></i></button>
                </span>
            </h3>
            <div class="content">
                <ul>
                    <li>PJ SBF Gath 2019</li>
                    <li>Vice Manager of Finance Compfest 12</li>
                    <li>Staf Acara Wisgan 2020</li>
                    <li>Staf PSDM BEM Fasilkom UI 2020</li>
                    <li>Probation member of Finance, Governance, and Legality AIESEC in UI</li>
                </ul>
            </div>
        </div>
    
        <div id="accordionAchievement">
            <h3>Achievement🏆
                <span style="float: right;">
                    <button class="up" style="font-size: 15px;"><i class="fas fa-chevron-up"></i></button>
                    <button class="down" style="font-size: 15px;"><i class="fas fa-chevron-down"></i></button>
                </span>
            </h3>
            <div class="content">
                <ul>
                    <li>Ga ada-__-</li>
                </ul>
            </div>
        </div>
    
        <div id="accordionHappyPills">
            <h3>Happy Pills💕
                <span style="float: right;">
                    <button class="up" style="font-size: 15px;"><i class="fas fa-chevron-up"></i></button>
                    <button class="down" style="font-size: 15px;"><i class="fas fa-chevron-down"></i></button>
                </span>
            </h3>
            <div class="content">
                <ul>
                    <li>Metawin Opas-iamkajorn</li>
                    <li>Kim Seonho</li>
                    <li>Bokuto Koutarou</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
