<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="icon" href="{% static 'logo.png' %}">
    <title>Another Jaja's Story</title>
</head>
<body>
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li id="username"><a href="#"><span class="glyphicon glyphicon-user"></span>  {{ user.username }}</a></li>
        <li id="logout"><a href="{% url 'story9:logout' %}"><span class="glyphicon glyphicon-log-out"></span>  Log out</a></li>
        
        {% else %}
        <li id="signup"><a href="{% url 'story9:signup' %}"><span class="glyphicon glyphicon-user"></span>  Sign up</a></li>
        <li id="login"><a href="{% url 'story9:login' %}"><span class="glyphicon glyphicon-log-in"></span>  Log in</a></li>
        
        {% endif %}
    </ul>

    {% if user.is_authenticated %}
    <h1 class="ml10">Hello, {{user.username}}...</h1>
    {% endif %}

    <h1 class="ml10">
        <span class="text-wrapper">
            <span class="letters">✨ Welcome to Another Jaja's Story! ✨</span>
        </span>
    </h1>

    <div class="story">
        <h3><a href="/story7/">Story 7</a></h3>
    </div>

    <div class="story">
        <h3><a href="/story8/">Story 8</a></h3>
    </div>

    <!-- taken from https://tobiasahlin.com/moving-letters/#10 -->
    <script>
    var textWrapper = document.querySelector('.ml10 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({loop: true})
    .add({
        targets: '.ml10 .letter',
        rotateY: [-90, 0],
        duration: 1300,
        delay: (el, i) => 45 * i
    }).add({
        targets: '.ml10',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000
    });
    </script>
</body>
</html>